export(M.Crowder)
export(M.Crowder.Mod)
export(M.gauss)
export(V.Crowder)
export(V.Crowder.Mod)
export(V.gauss)
export(Wald.Test)
export(a.Crowder)
export(a.Crowder.Mod)
export(a.gauss)
export(b.Crowder)
export(b.Crowder.Mod)
export(b.gauss)
export(confidence.interval.QEE)
export(covariance.QEE)
export(eqn.Crowder)
export(eqn.Crowder.Mod)
export(eqn.gauss)
export(gammaf.Crowder)
export(gammaf.Crowder.Mod)
export(obj.Crowder)
export(obj.Crowder.Mod)
export(obj.gauss)
