export(a.Crowder.Mod,
a.Crowder,
a.gauss,
b.Crowder.Mod,
b.Crowder,
b.gauss,
confidence.interval.QEE,
covariance.QEE,
eqn.Crowder.Mod,
eqn.Crowder,
eqn.gauss,
gammaf.Crowder.Mod,
gammaf.Crowder,
M.Crowder.Mod,
M.Crowder,
M.gauss,
obj.Crowder.Mod,
obj.Crowder,
obj.gauss,
V.Crowder.Mod,
V.Crowder,
V.gauss,
Wald.Test
)